/* #root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
} */

.globe-loader {
	position: relative;
	width: 200px;
	height: 200px;
	perspective: 800px;
}

.earth {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-image: url("https://eoimages.gsfc.nasa.gov/images/imagerecords/73000/73751/world.topo.bathy.200412.3x5400x2700.jpg");
	background-size: cover;
	background-position: 50% 0;
	animation: spin 20s linear infinite;
}

@keyframes spin {
	from {
		transform: rotateY(0deg);
	}
	to {
		transform: rotateY(1turn);
	}
}

@font-face {
	font-family: "CustomFont"; /*Can be any text*/
	src: local("FoundationSansBlackCdIt"),
		url("./fonts/FoundationSansBlackCdIt.otf") format("opentype");
}

@font-face {
	font-family: "CustomFont2"; /*Can be any text*/
	src: local("FoundationSansBlack"),
		url("./fonts/FoundationSansBlack.otf") format("opentype");
}

@font-face {
	font-family: "CustomFont3"; /*Can be any text*/
	src: local("FoundationSansLight"),
		url("./fonts/FoundationSansLight.otf") format("opentype");
}

@font-face {
	font-family: "CustomFontRoman"; /*Can be any text*/
	src: local("FoundationSansRoman"),
		url("./fonts/FoundationSansRoman.otf") format("opentype");
}
