/* #root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
} */
#root {
	--background-color: #ffffff; /* Replace with your preferred background color */
	--text-color: #000000; /* Replace with your preferred text color */
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
}

@keyframes spin {
	from {
		transform: rotateY(0deg);
	}
	to {
		transform: rotateY(1turn);
	}
}

@font-face {
	font-family: "CustomFont"; /*Can be any text*/
	src: local("FoundationSansBlackCdIt"),
		url("./fonts/FoundationSansBlackCdIt.otf") format("opentype");
}

@font-face {
	font-family: "CustomFont2"; /*Can be any text*/
	src: local("FoundationSansBlack"),
		url("./fonts/FoundationSansBlack.otf") format("opentype");
}

@font-face {
	font-family: "CustomFont3"; /*Can be any text*/
	src: local("FoundationSansLight"),
		url("./fonts/FoundationSansLight.otf") format("opentype");
}

@font-face {
	font-family: "CustomFontRoman"; /*Can be any text*/
	src: local("FoundationSansRoman"),
		url("./fonts/FoundationSansRoman.otf") format("opentype");
}
